name: tag

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    permissions: 
      contents: write

    steps:
    - name: Checkout Files
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: Push Tag
      uses: anothrNick/github-tag-action@1.64.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        WITH_V: true
        DEFAULT_BUMP: "major"
        MAJOR_STRING_TOKEN: "Rel: "
        MINOR_STRING_TOKEN: "Feat: "
        PATCH_STRING_TOKEN: "Fix: "
        NONE_STRING_TOKEN: "[A-Z][^Rel:|Feat:|Fix:]"
